.HomeContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 40px;
  justify-content: flex-end;
  &__HomeDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 140px;
    flex-shrink: 0;
    &__big-fkn-title {
      @include font-heading-regular;
      font-size: pixelsToRem(44);
      @include respond-big {
        font-size: pixelsToRem(74);
      }
    }
  }
  @include respond-big {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
  }
}

.home-title {
  color: $white;
}
