@font-face {
    font-family: 'Attila Sans Classic Basic';
    src: url('../../font/AttilaSansClassicBasic-Regular.ttf') format('trueType');
    font-weight: normal;
    letter-spacing: pixelsToRem(-3)
}
